---
import Base from '../layouts/Base.astro';
---
<Base title="roadmap">
  <h1>roadmap d'apprentissage</h1>
  <hr />
  <p>Edite <code>src/pages/roadmap.astro</code> ou externalise dans un .md selon tes besoins.</p>
</Base>
